:root {
  --primary-color: #6691c9;
  --secondary-color: #eee6bc;
  --third-color: #aac4dd;
  --fourth-color: #ebe293;
  --fifth-color: #8894d4;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--secondary-color);
  background-color: var(--third-color);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 400;
  font-size: 21px;
  line-height: 1.6;
  margin: 0;
}

header {
  background-color: var(--primary-color);
  background-size: cover;
  background-position: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  padding: 20px;
  z-index: 9999;
}

header h1 {
  font-weight: bolder;
  margin: 0;
  font-size: 40px;
  color: #e7671d;
  /* text-shadow: 0 0 10px rgba(red, green, blue, alpha); */
}

h2,
h3,
h4 {
  font-weight: 900;
  line-height: 1;
  margin: 0;
}

/* h2,
h3,
h4,
p {
  margin-bottom: 1em;
} */

header a {
  text-decoration: none;
  color: var(--secondary-color);
}

header nav {
  margin: 10px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 15px;
  font-weight: normal;
  font-size: 1.55vw;
}

header nav ul li a:hover {
  background: var(--fourth-color);
  color: var(--third-color);
  border-radius: 15px;
  text-shadow: none;
}

section {
  /* padding: 10px; */
  padding: 3rem 0;
}
/* section h2 {
  font-size: 50px;
} */

.container {
  margin-inline: auto;
  width: min(90%, 60rem)
}

.container-narrow {
  max-width: 40rem;
}

.split {
  display: flex;
  flex-direction: row;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.aboutme {
  line-height: 1.7;
  color: var(--tertiary-color);
  width: 100%;
  margin: 0 auto;
  font-size: 20px;
  text-align: center;
  display: block;
  flex-wrap: wrap;
  justify-content: space-around;
}

.aboutme img {
  width: 50%;
  height: 150px; 
  margin: 20px 50px;
  border-radius: 10%;
  max-width: 100%;
  display: block;
}
/* .aboutme img {
  width: 200px;
  border-radius: 30%;
} */

.aboutme-intro {
  padding: 25px auto 25px auto;
  line-height: 1.5;
  font-size: 20px;
  flex: 12;
}

.projects {
  margin: 0 auto;
  padding-bottom: 50px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
 
}

/* .bg-project1{
  background-color: var(--primary-color);
}

.bg-project3 {
  background-color: var(--primary-color);
} */

.project1-content,
.project2-content,
.project3-content {
padding: 25px;
line-height: 1.5;
font-size: 20px;
font-weight: bold;
flex: initial;
display: inline-block;
}

/* .project {
  margin: 20px;
  flex: 1;
} */

/* .projects h3 {
  padding: 20px;
  font-size: 20px;
  flex: 12;
  float: initial;
} */

.project1 img {
  border-radius: 30%;
  width: 60%;
  height: 80%;
  padding: 20px 80px;
  max-width: 100%;
  display: block;
}

.project2 img {
  border-radius: 10%;
  width: 55%;
  height: 70%;
  padding: 20px 50px;
  max-width: 100%;
  display: block;
}

.project3 img {
  border-radius: 20%;
  width: 50%;
  height: 80%;
  padding: 20px 50px;
  max-width: 100%;
  display: block;
}

.project1,
.project2,
.project3 {
  font-size: 20px;
  padding: 25px;
  overflow: auto;
}

.project1 p,
.project2 p,
.project3 P {
  font-size: 20px;
  padding: 20px ;
}

.project1 img:hover {
  width: 61%;
  height: 81%;
  border: none;
  background: none;
  color: var(--secondary-color);
  text-align: center;
  padding: 20px 90px;
  font-size: 16px;
  max-width: 100%;
  display: block;
}

.project2 img:hover {
  width: 56%;
  height: 71%;
  border-radius: 20%;
  border: none;
  background: none;
  color: var(--secondary-color);
  text-align: center;
  padding: 20px 50px;
  max-width: 100%;
  display: block;
}

.project3 img:hover {
  width: 51%;
  height: 81%;
  border-radius: 20%;
  border: none;
  background: none;
  color: var(--secondary-color);
  text-align: center;
  padding: 20px 50px;
  max-width: 100%;
  display: block;
}

.section-title {
  font-size: 48px;
  border-bottom: 3px solid;
  color: var(--secondary-color);
  padding-bottom: 20px;
  text-align: center;
  margin: 35px auto 35px auto;
  width: 55%;
}

.primary-border {
  border-color: var(--primary-color);
}

.secondary-border {
  border: solid;
  border-color: var(--fourth-color);
}

.resume {
  line-height: 1.5;
  text-align: center;
}
.resume h4 {
  font-size: 25px;
}

.resume nav ul li {
  font-size: 20px;
}

.contact-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
}

.contact-info > * {
  flex: 1;
  margin: 15px;
}

.flex-row {
  display: flex;
}

.contact-info {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: 20px;
}

footer {
  background: var(--primary-color);
  padding: 40px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

footer h4 {
  color: var(--secondary-color);
  font-size: 15px;
  margin: 0;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
  }

  header h1 {
    width: 100%;
    text-align: center;
  }

  header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }

  header nav ul li a {
    font-size: 20px;
  }

  footer {
    text-align: center;
    width: 100%;
  }

  .section-title {
    width: 80%;
  }

  .project {
    flex: 0 70%;
  }

  /* MEDIA QUERY FOR TABLETS AND SMALLER */
  @media screen and (max-width: 768px) {
    section {
      padding: 30px 15px;
    }

    .aboutme {
      flex: 1 100%;
      text-align: center;
    }

    .aboutme-intro {
      flex: 2 100%;
      text-align: center;
      justify-content: center;
    }

    .aboutme img,
    .project1 img,
    .project2 img
    .project3 img {
      flex: 0 32%;
      flex-direction: column;
      margin-top: 15px;
      margin-bottom: 15px;
    }

    .split {
      flex-direction: row;
    }

    .aboutme-intro,
    .project1 p,
    .project2 p,
    .project3 p {
      flex: 100%;
    }
  }

  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 575px) {
    header, 
    section {
      padding: 4rem 0;
    }
    
    .section-title {
      width: 95%;
    }

    .project1 p,
    .project2 p,
    .project3 p {
      width: 100%;
  
    }
    .aboutme img,
    .project1 img,
    .project2 img
    .project3 img {
      width: 100%;
      margin: 0;
    }

    .split {
      flex-direction: column;
    }

    .split > * {
      flex-basis: 100%;
    }

    .split > * + *{
      margin-left: 2em;
    }

    .project {
      flex: 0 100%;
    }

    .contact-info {
      text-align: center;
    }

    .contact-info > * {
      flex: 0 100%;
    }
  }
}